.bg-img {
    background-image: url('../img/f.png');
}

@media screen and (min-width:1555px) {
    .bg-img {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:1555px) {
    .bg-img {
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

main {
    align-content: center;
    justify-content: center;
}

#boton-especial {
    height: 84px;
    width: 262px;
    border: 1px solid black;
    background-color: #53257E;
    border-top-left-radius: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 8px;
    text-align: center;
    margin-top: 60vh;
}

#comprar {
    color: white;
    text-decoration: none;
}