@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

.fondo-oscuro {
    background-color: #2A123F;
}

.fondo-claro {
    background-color: #F9DEF9;
}

footer {
    bottom: 0;
    width: 100%;
    align-self: flex-end;
}

#logo {
    font-size: 64px !important;
}