.lista-sin-estilo {
    list-style: none;
}

.filtros {
    background-color: white;
}

main {
    margin-left: 0;
    padding-bottom: 2%;
}

.product-img {
    max-height: 150px;
    aspect-ratio: auto 1/1;
}

.boton-comprar {
    border-radius: 40px !important;
    background: #53257E !important;
    border-color: #53257E !important;
}