.lista-sin-estilo {
    list-style: none;
}

#filtros {
    background-color: white;
    border-radius: 16px;
    padding: 0;
}

#filtros>.title {
    background-color: #53257E;
    width: 100%;
    border-radius: 16px 16px 0 0;
    margin: 0;
    text-align: center;
    color: white;
}

main {
    margin-left: 0;
    padding-bottom: 2%;
}

.product-img {
    max-height: 150px;
    aspect-ratio: auto 1/1;
}

.boton-comprar {
    border-radius: 40px !important;
    background: #53257E !important;
    border-color: #53257E !important;
}

.filtros {}